.langText
{
  border : 3px solid white;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: #666600;
  color: yellow;
  text-align: center;
  font-size: 40px;
}

.tableText
{
  border: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid #666600;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
